@import url("https://fonts.googleapis.com/css2?family=Radwave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Proxima Nova", sans-serif;
}
#HomeSection,
#AboutSection {
  height: 100vh;
}
#HomeSection {
  padding-top: 50px;
  display: flex;
}
.Home1 {
  height: 100%;
  width: 40%;
  background-color: #707a8a;
}

.Home2 {
  height: 100%;
  width: 60%;
  background-color: #ffffff;
}

.menubar {
  height: 50px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 999999;
}

.top-list {
  list-style: none;
}

.menubar .top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menubar .top-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items in a row */
}

.menubar .top-list li {
  margin: 0 10px; /* Add some space between the buttons */
}

.menubar .top-list li button {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Adjust font size as needed */
}

.menubar .top-list li button:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better visibility */
}

.BoxMe {
  height: 400px;
  width: 350px;
  background-color: #333b50;
  position: relative;
  left: 350px;
  top: 150px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
  color: white;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
