@import url("https://fonts.googleapis.com/css2?family=Radwave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 0;
  position: relative;
}

#HomeSection,
#AboutSection,
#ProjectSection,
#SkillsSection {
  height: 100vh;
}
#HomeSection {
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: -1;
}
.inner-sticky {
  display: flex;
  padding-top: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100%;
  flex: 1;
}
#ProjectSection {
  height: 270vh;
  padding-top: 50px;
  background-color: #ffffff;
}
#SkillsSection {
  padding-top: 50px;
  background-color: blue;
}
.Home1 {
  height: 100%;
  width: 40%;
  background-image: radial-gradient(
    circle,
    #707a8a,
    #5f6979,
    #4e5868,
    #3e4858,
    #2e3848
  );
}

.Home2 {
  height: 100%;
  width: 60%;
  background-color: #ffffff;
}

.menubar {
  height: 50px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999999;
  padding: 0px 40px 0px 50px;
}
.Logo {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.top-list {
  list-style: none;
}

.menubar .top-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menubar .top-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items in a row */
}

.menubar .top-list li {
  margin: 0 10px; /* Add some space between the buttons */
}

.menubar .top-list li button {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 17px; /* Adjust font size as needed */
  font-family: "Roboto", sans-serif; /* Add this line */
}

.menubar .top-list li button:hover {
  text-decoration: underline; /* Optional: Add underline on hover for better visibility */
}

.BoxMe {
  height: 435px;
  width: 320px;
  background-color: #333b50;
  position: relative;
  left: -270px;
  top: 125px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2); /* Add box shadow */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.ProfileImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid;
  margin-top: 45px;
}

.BoxMe p {
  font-family: "Inter", sans-serif; /* Use Inter font as the primary font */
}
.BoxMe .Box-paragraphs p:first-of-type {
  margin-top: 20px;
}
.BoxMe .Box-paragraphs p {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 25px;
}

.Underline {
  margin-top: 20px;
  width: 50px;
  border-top: 2px solid #f0f0f0;
}

.Phead {
  font-size: 85px;
  font-weight: bolder;
  line-height: 100px;
  font-family: "Inter", sans-serif;
}
.Hhead {
  font-size: 30px;
  font-weight: bolder;
  line-height: 70px;
  font-family: "Inter", sans-serif;
}
.PContent-Container {
  display: flex;

  width: 560px;
  flex-wrap: wrap;
}
.PContent {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7); /* Assuming black text with 80% opacity */
  line-height: 25px;
}
.BoxMe .Box-paragraphs2 {
  margin-top: 20px;
}

.BoxMe .Box-paragraphs2 p {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}

.Box-socmed {
  margin-top: 48px;
  width: 100%;
  height: 50px;
  background-color: #262a3491;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Box-socmed img {
  height: 20px;
  width: 20px;
  transition: transform 0.3s;
}

.Box-socmed img:hover {
  transform: scale(1.5);
}

.Box-socmed img:hover {
  cursor: pointer;
}
.Home-Box2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -250px;
  left: 100px;
}
/* About Section*/ /* About Section*/ /* About Section*/ /* About Section*/ /* About Section*/ /* About Section*/ /* About Section*/ /* About Section*/
.About-title {
  font-size: 40px;
  font-weight: bolder;
  line-height: 100px;
  font-family: "Inter", sans-serif;
  margin-left: 50px;
}
.Line-container {
  position: absolute;
  left: 50%;
}
.Line {
  width: 4px; /* Adjust the width of the line if needed */
  height: 1800px;
  background-color: black;
}

.Container-projects {
  width: 100%;
  height: 100%;
  display: flex;
}
.Left-container-projects {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Right-container-projects {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Projects-box1 {
  padding: 20px 15px 20px 15px;
  width: 465px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
}
.Projects-box1:nth-child(2) {
  position: relative;
  top: 320.4px; /*Add 20pixels*/
}
.Projects-box2:nth-child(2) {
  position: relative;
  top: 725.8px; /*Add 20pixels*/
}
.Projects-box2 {
  position: relative;
  top: 405.4px; /*Add 20pixels*/
  padding: 20px 15px 20px 15px;
  width: 465px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.Project-img1 {
  width: 100%;
  height: 200px;
  overflow: hidden; /* Ensures that the image does not overflow the container */
  position: relative; /* Establishes a new positioning context */
  border-radius: 15px;
  margin-bottom: 10px;
}
.Project-img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures that the image covers the container fully */
  display: block; /* Removes any unwanted space below the image */
}

.Project-title {
  font-size: 25px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.Project-subtitle {
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.Project-description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.Circles-middle {
  display: flex;
  flex-direction: column;
  gap: 380px;
  position: absolute;
}
.Year-circles {
  left: 742px;
  top: 60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

.Languages-imgs {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}
.Languages-imgs img {
  width: 30px;
  height: 30px;
}
/*transitions*/ /*transitions*/ /*transitions*/ /*transitions*/ /*transitions*/ /*transitions*/ /*transitions*/ /*transitions*/ /*transitions*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (max-width: 600px) {
  * {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #HomeSection {
    height: 200vh;
  }
  .inner-sticky {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menubar {
    display: flex;
    flex: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Example background color, you can change it */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    z-index: 1000; /* Ensure it stays above other content */
  }
  .Home1 {
    display: none;
  }
  .Home2 {
    flex: 1;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle,
      #707a8a,
      #5f6979,
      #4e5868,
      #3e4858,
      #2e3848
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 20px 20px; /* Add padding for spacing */
  }
  .BoxMe {
    position: relative;
  }
  .Home-Box2 {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0px 20px 20px 20px; /* Additional padding for spacing */
  }

  .Home-Box2 .PContent-Container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Ensure vertical scrolling if needed */
    width: 100%;
  }

  .Home-Box2 .PContent {
    max-width: 90%;
    font-size: 1em;
    line-height: 1.5;
  }
}
